---
root_dir: "/data_kong"

###

dotenv_dir: "{{ root_dir }}"

kong_log_dir: "{{ root_dir }}/kong_log"

kong_postgres_password: "kong"
kong_postgres_data_dir: "{{ root_dir }}/kong_postgres_data"
kong_postgres_log_dir: "{{ root_dir }}/kong_postgres_log"

kong_dashboard_port: 8080
kong_dashboard_password: "kong"
